body {
	background-image: url("fish.jpg");
	font-family: georgia, arial, serif;
}

#navbar-header {
	background-color:   #74C2E1;
	margin-top: 60px;
}

#wrapper {
	background-image: url("halftone.png");
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}